<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List reviews</title>
</head>
<body>
    <table border="1" width="30%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.id }}</td>
                    <td>{{ review.text }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'index' %}">Volver al inicio</a></p>

</body>
</html>